/* ------------------------------------------------------------------
   ------------------Ajustes globales del proyecto-------------------
   ------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

.container {
    display: flex;
}

main {
    color: black;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

/* ----------------------------------------------------------------
   ---------------------------index.html---------------------------
   ---------------------------------------------------------------- */

main.background-index {
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/hockey_1.jpg);
    width: 120rem;
    max-width: 100%;
    min-height: 46vh;
    max-height: 150vh;
    background-size: cover;
    background-position-y: -15rem;
}

nav>h1 {
    text-shadow: rgb(102, 214, 255) 10px 0 10px;
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    color: rgb(255, 255, 255);
    max-height: 9rem;
    background: rgba(0, 0, 0, 0.792);
    flex-grow: 0.5;
    margin: 1rem 20rem 0 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.banner {
    width: 100%;
    max-width: 100vw;
    max-height: 50vh;
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/banner2.jpg);
    height: 40rem;
    background-position-y: -5rem;
}

#image-banner {
    width: 100%
}

nav {
    flex-direction: row;
    background-color: transparent;
}

nav a {
    font-size: 1rem;
    color: white;
    padding: 0.4rem 1.5rem;
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    transition-duration: 0.6s;
    height: 2.5rem;
    margin: 4rem .3rem;
}

nav a:hover {
    background-color: rgb(255, 0, 0);
    color: yellow;
    border: 2px solid yellow;
}

a[href="#"] {
    background-color: rgb(52, 166, 57);
    text-decoration: none;
    border: 2px solid rgb(82, 92, 205);
}

.other-pages-buttons {
    background-color: rgb(82, 92, 205);
    text-decoration: none;
    border: 2px solid rgb(52, 166, 57);
}

header>h2 {
    text-align: center;
    border: 3px solid rgb(126, 163, 211);
    color: rgb(126, 163, 211);
    background-color: black;
}

main>img {
    width: 13rem;
    height: 15rem;
    background-color: transparent;
    margin-top: 2rem;
}

#upcoming-events {
    background-color: transparent;
    border: 2px solid black;
    margin: 4rem 0;
    height: fit-content;
}

#upcoming-events article {
    padding: 1.5rem 2rem;
    background-color: transparent;
    transition-duration: 0.3s;
}

#upcoming-events h3,
p {
    background-color: transparent;
}

#upcoming-events p {
    margin-left: 1rem;
    background-color: transparent;
}

#upcoming-events:hover article {
    background-color: rgb(126, 163, 211);
}

/* ----------------------------------------------------------------
   ---------------------------about.html---------------------------
   ---------------------------------------------------------------- */

main.background-about {
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/hockey_2.jpg);
    width: 120rem;
    max-width: 100%;
    min-height: 46vh;
    max-height: 150vh;
    background-size: cover;
    background-position-y: -10rem;
}

#articles-about {
    display: inline-block;
    max-width: 100%;
    background-color: transparent;
    border: 2px solid black;
    margin: 4rem 1rem;
    height: fit-content;
}

#articles-about article {
    transition-duration: 0.3s;
}

#articles-about:hover article {
    background-color: rgb(126, 163, 211);
}

#articles-about h3,
p {
    background-color: transparent;
}

#articles-about>article {
    padding: 0.6rem;
    background-color: transparent;
}

span.sangria {
    margin-left: 1rem;
    background-color: transparent;
}

/* ------------------------------------------------------------------
   ---------------------------contact.html---------------------------
   ------------------------------------------------------------------ */

main.background-contact {
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url(../img/hockey_3.jpg);
    width: 120rem;
    max-width: 100%;
    min-height: 46vh;
    max-height: 150vh;
    background-size: cover;
    background-position: center;
    background-position-y: -20rem;
}

#contact {
    border: 2px solid black;
    margin: 5rem 0 5rem 4rem;
    font-size: large;
    background-color: transparent;
    height: fit-content;
}


#contact p#p-email {
    padding: 2rem;
    margin-top: rem;
    background-color: transparent;
}

#contact p#p-email a {
    background-color: transparent;
}

#contact p#p-abajo-email {
    padding: 0rem 2rem 2rem 2rem;
    background-color: transparent;
}

#contact p#p-email,
#contact p#p-abajo-email {
    transition-duration: 0.3s;
}

#contact:hover p#p-email,
#contact:hover p#p-abajo-email {
    background-color: rgb(126, 163, 211);
}

/* ------------------------------------------------------------------
   ---------------------------game_info.html-------------------------
   ------------------------------------------------------------------ */

main#main-table {
    flex-direction: column;
    gap: 1rem;
    background-position-x: -25rem;
    background-position-y: 0;
    min-height: fit-content;
    max-height: max-content;
}

table#game-info-table {
    background-color: transparent;
    border: 2px solid black;
    margin: 0rem 3rem;
    border-collapse: collapse;
    transition-duration: 0.6s;
}

table#game-info-table:hover {
    background-color: rgb(126, 163, 211);
    border: 2px solid yellow;
}

th, td {
    padding: 1rem;
    outline: 1px solid black;
}

span.subrayado {
    text-decoration: underline;
}

.text-game-info {
    height: fit-content;
    margin: 0 0 2rem 4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
}

#h2-game-info {
    color: white;
    border-radius: 1rem;
    max-width: 11.7rem;
    padding: 1rem;
    margin-left: 4rem;
    background-color: rgba(0, 0, 0, 0.67);
}

#logo-game-info {
    margin-left: 3rem;
}

.negrita {
    font-weight: bolder;
}

tfoot td>span.maps-text {
    height: fit-content;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------
   ---------------------------rules.html-----------------------------
   ------------------------------------------------------------------ */

section#rules-section {
    flex-direction: column;
    margin: 3rem 0;
    background-color: transparent;
    border: 2px solid red;
    max-width: 80rem;
    padding: 1rem;
    height: fit-content;
    transition-duration: 0.6s;
}

section#rules-section:hover {
    background-color: rgb(126, 163, 211);
    border: 2px solid yellow;
}

section#rules-section h2, section#rules-section h3, section#rules-section h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section#rules-section article, section#rules-section p, section#rules-section ol, section#rules-section ul, section#rules-section li {
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

span.items-rules {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section#rules-section ul {
    list-style-type: circle;
    margin-left: 5rem;
}

/* ------------------------------------------------------------------
   ---------------------------registration.html----------------------
   ------------------------------------------------------------------ */

main#main-registration {
    justify-content: center;
    background-position-y: 0;
}

form#registration-form {
    margin: 3rem;
    padding: 1rem;
    flex-direction: column;
    height: fit-content;
    transition-duration: 0.6s;
}

form#registration-form:hover {
    background-color: rgba(126, 163, 211, 0.8);
}

form#registration-form fieldset {
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    width: fit-content;
}

form#registration-form fieldset, form#registration-form fieldset>fieldset {
    width: 100%;
}

form#registration-form input {
    margin: 0 2rem 0.5rem 0;
}

form#registration-form input.input-separado {
    margin: 0 0 0.5rem 1rem;
}

form#registration-form>fieldset>fieldset>label.label-separado {
    margin-right: 1rem;
}

form#registration-form input[type="submit"] {
    padding: 0.5rem;
    width: 100%;
    border: 2px solid rgb(52, 166, 57);
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: large;
}

form#registration-form input[type="submit"]:hover {
    background-color: rgb(52, 166, 57);
}